body {
  font-family: "Roboto", sans-serif;
  color: #4d5ae5;
  background-color: #ffffff;
}
a {
  text-decoration: none;
}
.logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.667px;
  letter-spacing: 3%;
  color: #4d5ae5;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
}
.studio {
  color: #2e2f42;
}
